<body style="background:#f5f4fa">
    <div class="header">
      <div class="back-button">
        <a href="<%= simulations_company_plans_path %>"><i class="fa fa-angle-left"></i></a>
      </div>
      <div class="title">
        <h1><%= @plan_name.capitalize %>: R$ <%= @result[0][:val].first.exchange_rates.first.converted.value.to_f.round(2) %></h1>
      </div>
    </div>
    <div class="cards">
      <a href="#" id="card-basic" class="card basic">
        <div class="br circle"></div>
        <p>R$ <%= @result[0][:val].first.exchange_rates.first.converted.value.to_f.round(2) %></p>
      </a>

      <a href="#" id="card-silver" class="card silver">
        <div class="us circle"></div>
        <p>U$ <%= @result[1][:val].first.exchange_rates.first.converted.value.to_f.round(2) %></p>
      </a>

      <a href="#" id="card-gold" class="card gold">
        <div class="mx circle"></div>
        <p>$ <%= @result[2][:val].first.exchange_rates.first.converted.value.to_f.round(2) %></p>
      </a>

      <a href="#" id="card-premium" class="card premium">
        <div class="ge circle"></div>
        <p>€ <%= @result[3][:val].first.exchange_rates.first.converted.value.to_f.round(2) %></p>
      </a>
    </div>
  </body>
